* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #313638;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.h2 {
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.25;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
}

.nav-logo {
    height: 45px;
    display: block;
    margin-top: .25rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #606A6F;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: orangered;
}

.nav-menu {
    display: none;
    cursor: pointer;
}

.nav-menu div {
    width: 23px;
    height: 2px;
    background-color: orangered;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 980px) {
    .main-img {
        display: none;
    }

    .img-div {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    section {
        flex-direction: column !important;
    }

    .testimonial {
        padding-left: 5rem;
    }


}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 50%;
        top: 5vh;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        /* align-items: center; */
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a:hover {
        color: orangered;
    }

    .nav-menu {
        display: block;
    }

}



.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}


/* Main TEXT */


.main-text {
    background: #fdc;
    padding: 6rem 0;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.main-text h1 {
    font-size: 3.5rem;
}

.main-text p {
    font-size: 1.2rem;
}

.orange {
    color: orangered;
}

.info-text {
    padding-right: 15px;
}

.button {
    background: orangered;
    color: white;
    display: inline-block;
    padding: .5em 1.5em;
    font-weight: bold;
    border: 2px solid orangered;
    text-decoration: none;
    border-radius: 2.5em;
    margin-top: .5rem;
}

.button:hover {
    background-color: #e64c00;
    border-color: #e64c00;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

/* section */

section {
    padding: 4rem 0;
    display: flex;
}

section .main-text {
    background: white;
    display: block;
}

.block-icon {
    padding-left: 5rem;
    position: relative;
    padding-bottom: 2rem;
}

.block-icon .icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -1.06rem;
    background-color: #fdc;
}

blockquote {
    background: #FFEEE5;
    padding: 2rem 2rem 1rem;
    z-index: 1;
    overflow: hidden;
    position: sticky;
    top: calc(45px + 4.25rem);
}

blockquote:before {
    content: "“";
    position: absolute;
    top: 0;
    left: .5rem;
    color: #fff;
    z-index: -1;
    line-height: 1;
    font-weight: bold;
    font-size: 10rem;
}

.testimonial {
    display: block;
    padding-right: 5rem;
    border-radius: 6px;
}

.testimonial .source {
    position: relative;
    padding-left: 3rem;
}

.testimonial .person {
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
}

.testimonial .source p {
    margin: 0;
    line-height: 2.5rem;
    font-size: 18px;
}


/* clients */
.clients {
    padding-left: 5rem;
    padding-right: 5rem;
}

.row {
    border-bottom: 2px solid #e5e8e9;
    border-top: 2px solid #e5e8e9;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.row-text {
    padding-left: 5rem;
    padding-right: 5rem;
}

.row-img {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    padding-top: 3rem;
}

.img-div {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
    padding-left: 15px;
    padding-right: 15px;
}

.img-div:hover {
    transform: scale(1.1);
}

.shadow {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 8px 36px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}